<html>
    <head>
        <title>Sample Web Form</title>
    </head>
<body>

<h1>X or O</h1>

<form action="choosexoro" method="POST">
	
   choose x or o <input type="text" name="choosexoro">
   
 
 
   
</form>

</body>
</html>
