<html>
    <head>
        <title>Sample Web Form</title>
    </head>
<body>

<h1>Grid</h1>

<form action="grid_n" method="POST">
	
  grid number <input type="number" name="grid_n">
   
 
 
   
</form>

</body>
</html>